fastapi
uvicorn[standard]
python-multipart
openai
pdfplumber
python-dotenv
pydantic
pinecone
pymupdf
pypdfium2
langdetect
pdf2image
pytesseract
pillow
schedule
transformers
torch>=2.3.0
torchvision>=0.18.0
numpy>=1.24.0
google-generativeai
requests>=2.32.3